{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6 border p-3 pb-4 rounded">
            <form action="" method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger text-center">
                        {{ form.errors }}
                    </div>
                {% endif %}
                {{ form }}
                <button type="submit" class="btn btn-outline-success w-100">Confirm</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}